* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Wrapper to center the calculator */
.container {
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

/* Calculator styling */
.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width:60px;
    height:60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 
                 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin:10px;
}

/* display box styling */
.display {
    display: flex;
    justify-content: flex-end;
    margin:20px 0;
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background: transparent;
    color: #fff;
}

/* Equal button width */
form input.equal{
    width: 145px;
}
