/* element selector , effect all inpur  */
input {
    padding: 8px;
    border: 2px solid #007bff;
    border-radius: 4px;
    width: 90%;
  }
  
  /* Class <div> , box sizing */
  .form-section {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
  }
  
  #personal-info {
    background-color: #ffffff;
    border: 2px solid #aaa;
    border-radius: 8px;
    width: 100%;
  }
  
  input[type="radio"] {
    width: auto;
    margin-right: 5px;
  }
  
  /* effect td */
  table td {
    padding: 10px;
    font-family: sans-serif;
  }
  
  /* Error Style */
  .error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }
  